@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }

  .btn-primary {
    padding: 12px 28px;
  }

  .hero-btn {
    padding: 12px 28px;
    margin-right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .made > .container {
    max-width: 644px;
  }

  .title {
    font-size: 24px;
    line-height: 1.17;
  }

  .hero-wrap {
    padding: 670px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-bg-tab.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg-tab-2x.jpeg);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .btn-primary {
    padding: 14px 40px;
  }

  .hero-btn {
    padding: 14px 40px;
  }

  .hero-down-btn {
    margin-top: 0;
    margin-left: auto;
  }
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages-list {
    padding: 0;
    gap: 62px 88px;
  }

  .advantages-item {
    width: calc((100% - 88px) / 2);
  }

  .ingridients {
    padding-top: 100px;
  }

  .ingridients-title {
    margin-bottom: 50px;
  }

  .ingridients-list {
    gap: 32px;
  }

  .ingridients-item {
    width: calc((100% - 32px) / 2);
  }

  .ingridients-item:not(:nth-child(-n + 4)) {
    display: block;
  }

  .ingridients-item:nth-child(1) {
    order: -2;
  }
  .ingridients-item:nth-child(4) {
    order: -1;
  }

  .made {
    padding-top: 100px;
  }

  .made-left-side {
    width: 100%;
  }

  .made-right-side {
    padding: 32px;
    width: 100%;
  }

  .made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }
  .made-item {
    max-width: 480px;
  }

  .products {
    padding-top: 100px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }

  .bestsellers {
    padding-top: 100px;
  }

  .bestsellers-item {
    width: calc((100% - 16px) / 2);
  }

  .bestsellers-item:not(:first-child) {
    display: block;
  }

  .bestsellers-item:not(:nth-child(-n + 2)) {
    display: none;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
  }

  .made > .container {
    max-width: 1166px;
  }

  .made-left-side {
    width: 600px;
  }

  .hero-wrap {
    padding: 380px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero-bg.jpeg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg-2x.jpeg);
    }
  }

  .advantages-item {
    width: calc((100% - 2 * 88px) / 3);
  }

  .advantages-item:after {
    content: '';
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
  }

  .advantages-item:last-child::after {
    display: none;
  }

  .advantages-item-top {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 19px;
  }

  .ingridients {
    padding-top: 120px;
  }

  .ingridients-list {
    gap: 24px 32px;
  }

  .ingridients-item {
    width: calc((100% - 96px) / 4);
  }

  .ingridients-item:nth-child(1) {
    order: 0;
  }
  .ingridients-item:nth-child(4) {
    order: 0;
  }

  .made {
    padding-top: 120px;
  }

  .made-item {
    max-width: 452px;
  }

  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .made-right-side {
    width: unset;
  }

  .products {
    padding-top: 100px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }

  .bestsellers {
    padding-top: 120px;
  }

  .bestsellers-item {
    width: calc((100% - 32px) / 3);
  }

  .bestsellers-item:not(:nth-child(-n + 2)) {
    display: block;
  }
}
