/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  /* Colors */
  --main-cl: #111111;
  --main-cl-60: rgba(17, 17, 17, 0.6);
  --main-cl-70: rgba(17, 17, 17, 0.7);
  --accent-cl: #fd9222;
  --violet-cl: #1e1823;
  --beige-cl: #fcf1e0;
  --light-cl: #fafafa;
  --gray-cl: #4c4c4c;
  --white-cl: #ffffff;
  --white-cl-70: rgba(255, 255, 255, 0.7);
}

/**
  |============================
  | Base styles
  |============================
*/
/* reset start */
body {
  font-family: var(--primary-font);
  color: var(--main-cl);
  background-color: var(--light-cl);
}
button {
  font-family: inherit;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/* reset end */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Components styles
  |============================
*/

.container {
  /* width: 1166px; */
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
}
.title-accent {
  color: var(--accent-cl);
}
.subtitle {
}
.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-cl);
  background-color: var(--accent-cl);
  transition: color 300ms linear, background-color 300ms linear;
}
.btn:hover,
.btn:focus {
  color: #fd9222;
  background-color: var(--beige-cl);
}
.btn-primary {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
}
.btn-primary:hover,
.btn-primary:focus {
  color: var(--accent-cl);
  background-color: transparent;
}
.btn-secondary {
  font-size: 18px;
  color: var(--main-cl);
  background-color: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--white-cl);
  background-color: var(--accent-cl);
}

/* Navigation */
.navigation {
}
.navigation-menu {
  display: flex;
  gap: 24px;
}
.navigation-item {
}
.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}
.navigation-link.light {
  color: var(--white-cl);
}
.navigation-link.dark {
  color: var(--main-cl);
}
/* Socials */
.socials {
}
.socials-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  color: var(--white-cl);
}
.socials-list {
  display: flex;
  margin-left: auto;
  gap: 14px;
}
.socials-item {
}
.socials-link {
  color: var(--main-cl);
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  gap: 100px;
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}
.header-logo-italic {
  font-style: italic;
}
.header-socials {
}

.socials-icon {
  fill: transparent;
  stroke: #111111;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  stroke: #fd9222;
}

.logo-icon {
  margin-left: 4px;
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: var(--main-cl-60);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}
.hero-title {
  color: var(--white-cl);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
}
.hero-btn {
  color: var(--white-cl);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  margin-right: 14px;
  /* transition-property: color, background-color;
  transition-duration: 300ms, 250ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1), ease; */
  transition: color 300ms cubic-bezier(0.39, 0.575, 0.565, 1),
    background-color 250ms ease;
}
.hero-link-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 600;
}
.hero-down-btn {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.hero-down-icon {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
}
/**
  |============================
  | Advantages styles
  |============================
*/
.advantages {
  background-color: var(--violet-cl);
  /* background-image: linear-gradient(var(--violet-cl) 50%, gray 50%); */
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages-list {
  padding: 0 18px;
  display: flex;
  gap: 88px;
}
.advantages-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.advantages-item:after {
  content: '';
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
  height: 124px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.advantages-item:last-child::after {
  display: none;
}

.advantages-item-top {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 19px;
}

.advantages-subtitle {
  color: var(--white-cl);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.advantages-item-text {
  color: var(--white-cl-70);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
}
.ingridients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.ingridients-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
}
.ingridients-item {
  width: calc((100% - 96px) / 4);
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  padding: 28px 23px;
}

.ingridients-img {
  margin-bottom: 36px;
}
.ingridients-caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
  padding-top: 120px;
}
.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}
.made-left-side {
}
.made-img {
}
.made-right-side {
  background-color: var(--white-cl);
  padding: 32px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  display: inline-block;
}
.made-list {
}
.made-item {
  max-width: 452px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  /* box-shadow: inset 0 0 0 1px #eceded; */
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
  padding-top: 120px;
}
.products-title {
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 54px) / 4);
  background-color: var(--white-cl);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  text-align: center;
}
.products-pic {
  margin-bottom: 8px;
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  margin-bottom: 18px;
}
.products-cost {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--light-cl);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
  padding-top: 120px;
}
.bestsellers-title {
  margin-bottom: 50px;
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  width: calc((100% - 32px) / 3);
  background-color: var(--white-cl);
  border-radius: 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 28px;
  position: relative;
}

.bestsellers-item:hover .bestsellers-cover {
  transform: translateY(0);
}
.bestsellers-picture {
}
.bestsellers-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
}

.bestsellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.bestsellers-cover {
  position: absolute;
  top: 0;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0) 100%
  );
  backdrop-filter: blur(7.5px);
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.bestsellers-cover-text {
  color: var(--light-cl, #fafafa);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 90px;
}
.reviews-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}
.reviews-item {
  width: calc((100% - 56px) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
}
.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--main-cl-70);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--violet-cl);
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}
.footer-heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white-cl);
  max-width: 300px;
  margin-right: auto;
}
.footer-socials {
  margin-right: 50px;
}
.footer-contancts {
}

.socials-caption {
  margin-bottom: 14px;
}

.socials-icon.light {
  stroke: #ffffff;
}
.contacts {
}
.contacts-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;

  color: var(--white-cl);
}
.contacts-data {
  font-style: normal;
}
.contacts-list {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white-cl);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-navigation {
}

.footer-form {
  display: flex;
}
.footer-input-label {
  margin-right: 8px;
}

.footer-input {
  width: 313px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: transparent;
  transition: border-color 300ms linear;
}

.footer-input:focus {
  border-color: #ffffff;
}

.footer-input:focus::placeholder {
  color: #ffffff;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
  transition: color 300ms linear;
}

.footer-btn {
  min-width: 137px;
  height: 52px;
  border: none;
  border-radius: 100px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.596);
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  transition: transform 300ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(3);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  text-align: left;
  margin-bottom: 40px;
}

.modal-title span {
  display: block;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);

  padding-left: 62px;
  padding-right: 24px;
  font-size: 14px;
  color: #4c4c4c;
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-input:focus {
  border-color: var(--accent-cl);
}

.modal-input:focus + .modal-icon {
  stroke: var(--accent-cl);
}

/* .modal-input-wrap:focus-within .modal-icon {
  stroke: var(--accent-cl);
} */

.modal-input::placeholder {
  font-size: 14px;
  color: teal;
}

.modal-input:optional {
  border-width: 2px;
}

.modal-form-btn:disabled {
  background-color: #4c4c4c;
}

.modal-label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 200ms ease;
}

.modal-comment {
  width: 100%;
  height: 137px;
  background-color: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);

  padding: 22px 24px;
  font-size: 14px;
  color: #4c4c4c;
  outline: transparent;
  transition: border-color 200ms ease;
  resize: none;
}

.modal-check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  position: relative;
}

.modal-check-link {
  color: var(--accent-cl, #fd9222);
}

.modal-check-text:before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #c8c5c5;
  border-radius: 50px;
  margin-right: 8px;
  transition-duration: 300ms;
}

.modal-check-text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #b5b1b1;
  border-radius: 50%;
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.modal-check:checked + .modal-check-text::before {
  background-color: rgb(203, 219, 163);
}

/* .modal-check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-cl);
  border: none;
  fill: #ffffff;
}

.modal-check:focus + .modal-check-text span {
  border-color: var(--accent-cl);
} */
